


	html, body {
		top: 0;
		height: 100%;
		text-align: center;
		margin: 0;
	}

	.background {
		height: 100%;
		width: 0;
		top: 0%;
		margin: 0;
		position: relative;
		z-index: -1;
		width: auto;
		background-size:cover;
		object-fit: fill;
		background-color: black;
	}
	
	.home {
		display: none;
		top: 5vmax;		
		left: 100vmax;
		position: absolute;
		z-index: 45;
		background-size:cover;
		object-fit: fill;
		background-image: url("https://live.staticflickr.com/65535/50674246911_2a400ae824_b.jpg");
	}
	
	.vire_seu_cel {
		display: block;
		height: 240vmax;
		width: 100%;
		top: 0%;
		margin: 0;
		position: absolute;
		z-index: 199;
		background-size:cover;
		object-fit: fill;
		background-color: red;
		font-family: "Oswald";
		color: white;
		font-size: 6vmax;
		text-align: center;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
 	 	user-select: none;
	}
	
	.colmeia_container {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 55vmax;
		width: 99.38vmax;
		background-color: black;
		color: white;
	}
	
	
	.muro {
		display: block;
		position: absolute;
		width: auto;
		height: 44vmax;
		object-fit: fill;
		background-size:cover;
		top: 2vmax;
		left: 52vmax;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		z-index: 10;
	}
	
	
	.agradecimento {
		display: block;
		top: 4.1vmax;
		width: 26vmax;
		height: 43.8vmax;
		position: absolute;
		text-align: left;
		overflow-y: scroll;
		scrollbar-color: #a8a7a7 #616161;
		left: 65vmax;
	}
	
	.texto_curatorial {
		display: block;
		left: 6vmax;
		padding: 1vmax 1vmax;
		height: 45vmax;
		width: 50vmax;
		top: 2.3vmax;
		text-align: left;
		overflow-y: scroll;
		position: absolute;
		scrollbar-color: #a8a7a7 #616161;
	}
	
	::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a8a7a7; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
	
	.titulo {
		color: #616161;
		font-family: "Oswald";
		font-size: 2vmax;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
 	 	user-select: none;
	}
	
	
	.texto {
		color: #a8a7a7;
		font-family: "Oswald";
		font-size: 1.5vmax;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
 	 	user-select: none;
	}
	
	.a_esquerda  {
		display: none;
		color: white;
		margin: 0;
		position: fixed;
		cursor: default;
		top: 50vh;
		font-family: "Oswald";
		font-size: 1.5vw;
		left: 85vw;
		height: auto;
		width: auto;
		text-align: bottom;
		width: 22%;
		transform: rotate(-90deg);
	 /* Legacy vendor prefixes that you probably don't need... */
		/* Safari */
		-webkit-transform: rotate(-90deg);
		/* Firefox */
		-moz-transform: rotate(-90deg);
		/* IE */
		-ms-transform: rotate(-90deg);
		/* Opera */
		-o-transform: rotate(-90deg);
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		z-index: 69;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
 	 	user-select: none;
	} 
	
	.seta_esquerda {
	display: none;
  position: fixed;
	width: 10%;
	height: auto;
	top: 45%;
	left: 0;
	color: white;
	font-family: "Oswald";
	font-size: 5vmax;
	line-height: 0.8;
	z-index: 69;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
	}
	
	.izidorio {
		display: none;
  	position: fixed;
		height: 15%;
		width: auto;
		left: 96%;
		top: 85%;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
  user-select: none;
	}
	
	.aniversario  {
		display: none;
  transform: rotate(-90deg);
 	/* Legacy vendor prefixes that you probably don't need... */
	/* Safari */
  -webkit-transform: rotate(-90deg);
	/* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
	/* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	color: white;
	margin: 0;
	position: absolute;
	top: 35vh;
	font-family: "Oswald";
	font-size: 4.2vw;
	left: 48vw;
	width: 40vw;
	font-weight: bolder;
	cursor: default;
	} 
	
	.mario_pedrosa  {
	display: none;
	line-height: 0.8;
	color: white;
	margin: 0;
	position: absolute;
	top: 35%;
	font-family: "Oswald";
	font-size: 8vmax;
	left: 20vw;
	width: 40%;
	text-align: left;
	font-weight: bolder;
	cursor: default;
	} 
	
	.icon_size {
  	width: 15vmax;
  	height: 9.3vmax;
		font-family: "Oswald";
		z-index: 9;
		position: absolute;
		font-size: 2vh;
	}
	
	.icon_dias_mulheres_virao {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_historia {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_fumaca_antifascista {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_monumentificacao_ressignificado {
		display: none;
		font-family: "Oswald";
	}
	
	.icon_ovo {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_paulo_batista {
		display: none;
	}
	
	.icon_anaue_badaue{
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;		
	}
	
	.icon_marica {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_inconstituicao{
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.icon_canalhas {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_queda_livre {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_zap {
		display: none;
		background-repeat: no-repeat;
		background-size: 110% 100%;
	}
	
	.icon_robson {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_elenita {
		display: none;	
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_laboratorio {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
		
	.icon_lute_como {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	
	.icon_mar_rio_pedra_rosa {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		object-fit: fill;
	}
	
	.icon_vida {
		display: none;
		background-repeat: no-repeat;
		object-fit: fill;
		background-size: cover;
		background-size: 80% 100%;
	}
	
	.icon_bambozi {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		object-fit: fill;
	}
	
	.icon_jarbas {
		display: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		object-fit: fill;
	}
	
	.quem_nao_luta_ta_morto  {
	display: none;
	color: white;
  text-align: center;
 	width: 31vmax;
 	height: 40vmax;
	padding: 0% 0%;
	position: absolute;
	line-height: 1.6;
	font-weight: 550;
  font-size: calc(10.7vmax);
	font-family: "Oswald";
	background-color: transparent;
	  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
	} 
	
	.quem_nao_luta_ta_morto_atras  {
	display: none;
	color: red;
 	width: 31vmax;
 	height: 40vmax;
  text-align: center;
	padding: 0% 0%;
	position: absolute;
	line-height: 1.6;
	font-weight: 550;
  font-size: calc(10.7vmax);
	font-family: "Oswald";
	background-color: transparent;
	  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
	} 


	.historia  {
	display: none;
	color: black;
  text-align: justify;
  width: 100%;
  height:auto;
	padding: 2% 2%;
	line-height: 1.3;
  font-size: calc(1.7vmax);
	font-family: "Oswald";
	cursor: default;
	z-index: 15;
	} 
	
	.texto_duque{
		display: none;
		color: black;
		text-align: justify;
		font-size: calc(1.2vmax);
		font-family: "Oswald";
		width: 50%;
		height: auto;
		cursor: default;
	}
	
	.texto_borba{
		display: none;
		color: black;
		text-align: right;
		vertical-align: bottom;
		font-size: calc(1.2vmax);
		font-family: "Oswald";
		width: auto;
		height: 100%;
		cursor: default;
	}
	
	.texto_anhanguera {
		display: none;
		color: black;
		text-align: left;
		vertical-align: bottom;
		font-size: calc(1.2vmax);
		font-family: "Oswald";
		cursor: default;
	}
	
	.mapa_borba {
	display: none;
	position: absolute;
	z-index: 15;
	right: -10vmax;
	top: 21.3vmax;
	width: 15vmax;
	}
	
	.mapa_duque {
	display: none;
	position: absolute;
	z-index: 10;
	width: 21vmax;
	top: -10vmax;
	left: 0;
	}
	
	.mapa_anhanguera {
	display: none;
	position: absolute;
	z-index: 10;
	width: 15vmax;
	top: -8vmax;
	left: 8vmax;
	}
	
	.monumentificacao_ressignificados1 {
	width: 21vmax;
	height: auto;
	display: none;
	text-align: center;
	}
	
	.monumentificacao_ressignificados2 {
	width: 32vmax;
	height: auto;
	clip: rect(13vmax, 32vmax,38vmax,0vmax);
	top: -8vmax;
	display: none;
	text-align: center;
	position: absolute;
	}
	
	.monumentificacao_ressignificados3 {
	width: 31.4vmax;
	height: auto;
	display: none;
	}
	
	.monumentificacao_ressignificados4 {
	width: 32vmax;
	height: auto;
	display: none;
	}
	
	.monumentificacao_ressignificados5 {
	width: 45vmax;
	height: 28vmax;
	display: none;
	}
	
	.monumentificacao_ressignificados6 {
	width: 150vmax;
	height: 40vmax;
	display: none;
	}
	
	.container_lute_como {
	display: none;
	position: absolute;
	width: 90%;
	left: 15%;
	top: 95%;
	height: 110%;
	z-index: 20;
	grid-gap: 20vmax;
	grid-row-gap: 20vmax;
	row-gap: 50vmax;
	}
	
	.container_monumentificacao {
	display: none;
	position: absolute;
	z-index: 5;
	height: 270%;
	width: 68%;
	left: 10%;
	top: 8%;
	grid-gap: 15vw;
	}
	
	.container_copa70 {
		display: none;
		position: absolute;
		z-index: 5;
		height: 270vma;
		width: 100%;
		left: 0%;
		top: 0%;
	}


	
	.autoria {
		display: none;
		position: absolute;
		z-index: 4;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
	}
	
		.vende-se {
		display: none;
		position: absolute;
		z-index: 3;
		top: 66vmax;
		left: 0%;
		width: 100%;
		height: auto;
	}
	
	.propriedade {
		display: none;
		position: absolute;
		z-index: 5;
		width: 100%;
		height: auto;
		top: 145vmax;
		left: 0;
	}
	
	.moradia {
		display: none;
		position: absolute;
		z-index: 5;
		width: 100%;
		height: auto;
		top: 223vmax;
		left: 0;
	
	}

  .octagon {
  	display: none;
  	width: 13vw;
  	height: 18vh;
    background: #000000;
    color: white;
    text-align: center;
    font-family: "Oswald";
    z-index: 15;
  }
  
	.lute_como_bg {
	top: 0vmax;
  left: 5%;
  height: 350%;
  width: 95%;
	position: absolute;
	z-index: 5;
	display: none;
	background-image: url("https://live.staticflickr.com/65535/50680982557_7f822dc22f_o.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}
	
  
  
  .lute_como_rosa {
  display: none;
	position: absolute;
  background-image: url("https://live.staticflickr.com/65535/50622434527_5d30db53ac_c.jpg");
  width: 21vmax;
  height: 21vmax;
	top: 5vmax;
	left: 26vmax;
	background-size:cover;
	object-fit: fill;
	z-index: 15;
  }
  
  .lute_como_rosa_esquerda {
		display: none;
		position: absolute;
		width: auto;
		height: auto;
		color: black;
		top: 13vmax;
		left: 23vmax;
		font-family: "Oswald";
		font-size: 4vmax;
		line-height: 0.8;
		z-index: 21;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
  }
  
    .lute_como_verde {
	position: absolute;
  display: none;
  background-image: url("https://live.staticflickr.com/65535/50622333986_87c810e88f_c.jpg");
  width: 21vmax;
  height: 21vmax;
	top: 34vmax;
	left: 65vmax;
	background-size:cover;
	object-fit: fill;
	z-index: 15;
  }
  
  .lute_como_verde_esquerda {
		display: none;
		position: absolute;
		width: auto;
		height: auto;
		top: 42vmax;
		left: 62vmax;
		color: black;
		font-family: "Oswald";
		font-size: 4vmax;
		line-height: 0.8;
		z-index: 21;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
  }
  
  
  .lute_como_amarelo {
  display: none;
	position: absolute;
  background-image: url("https://live.staticflickr.com/65535/50622337181_dfa951d921_o.png");
  width: 21vmax;
  height: 21vmax;
	background-size:cover;
	top: 180vmin;
	left: 35vmax;
	object-fit: fill;
	z-index: 15;
  }
  
  .lute_como_amarelo_esquerda {
		display: none;
		position: absolute;
		width: auto;
		height: auto;
		top: 100vmax;
		left: 32vmax;
		color: black;
		font-family: "Oswald";
		font-size: 4vmax;
		line-height: 0.8;
		z-index: 21;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
  }
  
  .lute_como_azul {
  display: none;
	position: absolute;
  background-image: url("https://live.staticflickr.com/65535/50622445627_bf693d348f_c.jpg");
  width: 21vmax;
  height: 21vmax;
	top: 121vmax;
	left: 70vmax;
	background-size:cover;
	object-fit: fill;
	z-index: 15;
  }
  
  .lute_como_azul_esquerda {
		display: none;
		position: absolute;
		width: auto;
		height: auto;
		top: 129vmax;
		left: 67vmax;
		color: black;
		font-family: "Oswald";
		font-size: 4vmax;
		line-height: 0.8;
		z-index: 21;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
  }
  
   .lute_como_branco {
  display: none;
  position: absolute;
  background-image: url("https://live.staticflickr.com/65535/50673404528_b229a4a98f_o.jpg");
  width: 21vmax;
  height: 21vmax;
	background-size:cover;
	object-fit: fill;
	top: 176vmax;
	left: 45vmax;
	z-index: 15;
  }
  
  .lute_como_branco_esquerda {
		display: none;
		position: absolute;
		width: auto;
		height: auto;
		top: 184vmax;
		left: 42vmax;
		color: black;
		font-family: "Oswald";
		font-size: 4vmax;
		line-height: 0.8;
		z-index: 21;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
  }
 
	.monumentificacao_titulo {
		left: 9.8%;
		width: 90%;
		height: 30%;
		text-align: left;
		position: fixed;
		display: none;
		font-family: "Oswald";
		font-size: 4.6vmax;
		font-weight: 700;
		color: red;
		z-index: 15;
		cursor: default;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
	}
	
	.audio_muro {
	display: block;
	position: absolute;
	top: 90%;
	height: 10%;
	width: 30.1vmax;
	left: 37vmax;
	z-index: 12;
	background:none transparent;
  background-color: transparent !important;
	}
	
	.sound_ovo1 {
	display: none;
	top: 30%;
	left: 15%;
	position: absolute;
	width: 15%;
	height: 20%;
	}
	
	.sound_ovo2 {
	display: none;
	top: 60%;
	left: 70%;
	position: absolute;
	width: 15%;
	height: 20%;
	}
	
	.sound_ovo3 {
	display: none;
	top: 75%;
	left: 40%;
	position: absolute;
	width: 15%;
	height: 20%;
	}
	
	.sound_ovo4 {
	display: none;
	top: 13%;
	left: 69%;
	position: absolute;
	width: 15%;
	height: 20%;
	z-index: 34;
	}
	
	.video_ovo {
		display: none;
		position: absolute;
		top: 20%;
		left: 35%;
		width: 30%;
		height: auto;
	}
	
	.paulo_batista {
	display: none;
	text-align: center;
	z-index: 3;
	position: absolute;
	height: 70%;
	width: auto;
	left: 25%;
	top: 15%;
	}
	
	.paulo_seta {
		display: none;
		position: absolute;
		top: 23vmax;
		left: 9vmax;
		width: 30%;
		height: 30%;	
		color: red;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
	  user-select: none;
  	font-family: "Oswald";
		font-size: 5vmax;
		line-height: 0.8;
	  z-index: 22;
	}
	
	
	.lute_como {
	display: none;
	color: red;
	margin: 0;
	position: absolute;
	font-family: "Oswald";
	font-size: 6vmax;
	top: 0;
	left: 10vmax;
  white-space: pre-wrap;
  background-size: cover;
	width: 50%;
	height: 100%;
	clip: rect(3vmax, 40vmax,40vmax,10vmax);
	text-align: left;
	z-index: 5;
	}
	
	.dias_mulheres_virao {
	display: none;
	color: white;
	margin: 0;
	position: fixed;
	font-family: "Oswald";
	font-size: 20vmax;
	top: 5vmax;
	left: 13vw;
  white-space: pre-wrap;
	width: 60%;
	height: 30%;
	text-align: left;
	z-index: 5;
	cursor: default;
	}
	
	
	.perspectiva {
		display: none;
		position: absolute;
		z-index: 26;
		top: 166vmax;
		left: 0vmax;
		height: auto;
		width: 100%;
	}
	
	.selecao {
	display: none;
	margin: auto;
	position: absolute;
	z-index: 5;
	height: auto;
	width: 100%;
	top: 0%;
	}
	
	.pele1 {
		display: none;
		position: absolute;
		z-index: 10;
		width: 54.2vmax;
		height: auto;
		left: 45vmax;
		top: 105.5vmax;
	}
	
	
	.pele2 {
		display: none;
		position: absolute;
		z-index: 5;
		width: 54.2vmax;
		height: auto;
		left: 45vmax;
		top: 135.5vmax;
	}
	
		.div_azul {
		display: none;
		position: absolute;
		z-index: 66;
		top: 136vmax;
		left: 0vmax;
		height: 30vmax;
		width: 45vmax;
		background-color: #69adc0;
		color: #69adc0;
	
	}
	
	.tiro {
		display: none;
		z-index: 66;
		position: absolute;
		height:2.5vmax;
		width: 100%;
		top: 219vmax;
		left: 0;
	}
	
	.div_amarela {
	display: none;
	position: absolute;
	z-index: 1;
	left: 45vmax;
	top: 52vmax;
	width: 54.2vmax;
	height: 85vmax;
	background-color: #fcd000;
	color: #fcd000;
	}


	.vade_retro {
	display: none;
	left: -25vmax;
	margin: auto;
	position: absolute;
	z-index: 5;
	height: 60vmax;
	width: 80vmax;
	top: 66vmax;
	text-align: left;
	transform: rotateZ(90deg);
	}
	
	.inconstituicao {
	display: none;
	position: absolute;
	z-index: 5;
	top: 24%;
	left: 12%;
	width: 32%;
	}
	
	.abi_juramento {
	display: none;
	position: absolute;
	z-index: 5;	
	top: 24%;
  left: 48%;
  height: 42%;
  width: 42%;
	}
	
	
	.mtsc {
	display: none;
	top: 65vmax;
	left: 65vmax;
	height: 50vmax;
	width: auto;
  z-index: 5;
	position: absolute;
	}
	
	.video_historia {
	display: none;
	position: absolute;
	top: 40vmax;
	left: 45vmax;
	height: 35vmax;
	width: 45vmax;
  z-index: 5;
	}
	
	.lute_como_audio {
		display: none;
		position: absolute;
		z-index: 80;
		top: 116vmax;
	  left: 50vmax;
	  height: 5vmax;
	  width: 20vmax;
	}
	
	.video360 {
	display: none;
	position: absolute;
	z-index: 10;
	top: 8vmax;
  left: 8%;
  height: 55%;
  width: 55%;
	}
	
	.video_ocupacao{
	display: none;
	position: absolute;
	z-index: 5;
	top: 120vmax;
  left: 40vmax;
  height: 55%;
  width: 55%;
	}
	
	.titulo_floresta {
		top: 0%;
		left: 8vmax;
		width: 90%;
		height: 30%;
		text-align: left;
		position: fixed;
		display: none;
		font-family: "Oswald";
		font-size: 4.6vmax;
		font-weight: 700;
		color: red;
		z-index: 88;
		cursor: default;
		-webkit-user-select: none;  
		-moz-user-select: none;    
		-ms-user-select: none;      	
		user-select: none;
	
	}
	
	.floresta1 {
	display: none;
	position: absolute;
	z-index: 6;
	top: 60vmax;
  left: 8vmax;
  height: 35%;
  width: 35%;
	}
	
		.floresta2 {
	display: none;
	position: absolute;
	z-index: 6;
	top: 40vmax;
  left: 8vmax;
  height: 35%;
  width: 35%;
	}
	
	.floresta3 {
	display: none;
	position: absolute;
	z-index: 6;
	top: 8vmax;
  left: 65vmax;
  height: 60%;
  width: 22%;
	}

	.floresta4 {
	display: none;
	position: absolute;
	z-index: 6;
	top: 160vmax;
  left: 7vmax;
  height: 45%;
  width: 32%;
	}
	
	.floresta5 {
	display: none;
	position: absolute;
	z-index: 6;
	top: 114vmax;
  left: 7vmax;
  height: 45%;
  width: 32%;
	}
	
	.floresta6 {
	display: none;
	position: absolute;
	z-index: 6;
	top: 138vmax;
  left: 8vmax;
  height: 40%;
  width: 25%;
	}
	
	.floresta7 {
	display: none;
	position: absolute;
	z-index: 8;
	top: 65vmax;
  left: 45vmax;
  height: 33%;
  width: 17.5%;
	}
	
	.floresta8 {
		display: none;
		position: absolute;
		z-index: 8;
		top: 186vmax;
		left: 7vmax;
		height: 51%;
		width: auto;
	}
	
	.floresta9 {
		display: none;
		position: absolute;
		z-index: 8;
		top: 184vmax;
		left: 42vmax;
		height: 60%;
		width: auto;
	}
	
	.floresta10 {
		display: none;
		position: absolute;
		z-index: 8;
		top: 272vmax;
		left: 7vmax;
		height: 60%;
		width: auto;
	}
	
	.floresta11 {
		display: none;
		position: absolute;
		z-index: 8;
		top: 244vmax;
		left: 9vmax;
		height: 50%;
		width: auto;
	}
	
	.floresta12 {
		display: none;
		position: absolute;
		z-index: 8;
		top: 243vmax;
		left: 55.5vmax;
		height: 50%;
		width: auto;
	}
	
	.floresta13 {
		display: none;
		position: absolute;
		z-index: 8;
		top: 244vmax;
		left: 36.8vmax;
		height: 50%;
		width: auto;
	}
	
	.floresta14 {
		display: none;
		position: absolute;
		z-index: 20;
		top: 275vmax;
		left: 49vmax;
		height: 33%;
		width: auto;
	}
	
	.floresta15 {
		display: none;
		position: absolute;
		z-index: 15;
		top: 272vmax;
		left: 63vmax;
		height: 40%;
		width: auto;
	}
	
		.floresta16 {
		display: none;
		position: absolute;
		z-index: 15;
		top: 217vmax;
		left: 8vmax;
		height: 50%;
		width: auto;
	}
	
	.floresta17 {
		display: none;
		position: absolute;
		z-index: 15;
		height: 30vmax;
		left: 48vmax;
		top: 380vmax;
		width: auto;
	}
	
	.floresta18{
		display: none;
		position: absolute;
		z-index: 15;
		height: 25vmax;
		left: 8vmax;
		top: 378vmax;
		width: auto;
	}
	
	.floresta19 {
		display: none;
		position: absolute;
		z-index: 15;
		height: 46vmax;
		left: 7vmax;
		top: 304vmax;
		width: auto;
	}
	
	.floresta20 {
		display: none;
		position: absolute;
		z-index: 15;
		height: 30vmax;
		left: 47vmax;
		top: 320vmax;
		width: auto;
	}
	
	.floresta21 {
		display: none;
		position: absolute;
		z-index: 15;
		height: 19vmax;
		left: 6vmax;
		top: 356vmax;
		width: auto;
	}
	
	.floresta22 {
		display: none;
		position: absolute;
		z-index: 15;
		height: 41vmax;
		left: 45vmax;
		top: 438vmax;
		width: auto;
	}
	
	.floresta23 {
		display: none;
		position: absolute;
		z-index: 15;
		height: 25vmax;
		left: 8vmax;
		top: 405vmax;
		width: auto;
	}
	
	.floresta24 {
		display: none;
		position: absolute;
		z-index: 15;
		top: 303vmax;
		left: 39vmax;
		height: 47vmax;
		width: auto;
	}
	
		.floresta25 {
		display: none;
		position: absolute;
		z-index: 15;
		top: 297vmax;
		left: 50vmax;
		height: 20vmax;
		width: auto;
	}
	
		.tour {
		display: none;
		position: absolute;
		z-index: 15;
		top: 412vmax;
		left: 45vmax;
		height: 32vmax;
		width: 42vmax;
	}
	
	.video_historia2 {
		display: none;
		position: absolute;
		z-index: 6;
		top: 216vmax;
		left: 49vmax;
		height: 45%;
		width: 45%;
	}
	
	.video_reocupa {
	display: none;
	position: absolute;
	z-index: 6;
	top: 152.4vmax;
  left: 40vmax;
  height: 55%;
  width: 55%;
	}
	
	.aparelhamento {
	display: none;
	position: absolute;
	z-index: 6;
	top: 82vmax;
  left: 8vmax;
  height: 55%;
  width: 55%;
	}
	
	.gif_jarbas {
	display: none;
	position: absolute;
	z-index: 6;
	width: 39vmax;
	height: auto;
	top: 0%;
  left: 31vmax;
	}
	
	.politica_dividida {
	display: none;
	position: absolute;
	z-index: 6;
	top: 45vmax;
	width: 34vmax;
  left: 33vmax;
	}
	
	.elenita_titulo {
		left: 6%;
		width: 90%;
		height: 30%;
		position: fixed;
		display: none;
		font-family: "Oswald";
		font-size: 12vmax;
		font-weight: 700;
		color: white;
		letter-spacing: 0.25em;
		z-index: 85;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
	  user-select: none;
	}
	
	.elenita_video {
	display: none;
	position: fixed;
	z-index: 10;
	top: 22%;
	left: 22.5%;
	height: 55%;
	width: 55%;
	}
	
		.elenita {
	display: none;
	position: fixed;
	z-index: 11;
	top: 50%;
	left: 83%;
	height: 50%;
	width: auto;
	}
	
	.elenita_img1 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0%;
	left: 0%;
	height: 50%;
	width: 50%;
	}
	
		.elenita_img2 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0%;
	left: 50%;
	height: 50%;
	width: 50%;
	}
	
		.elenita_img3 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 0%;
	height: 50%;
	width: 50%;
	}
	
		.elenita_img4 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	height: 50%;
	width: 50%;
	}
	
		.elenita_img5 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 00%;
	height: 50%;
	width: 50%;
	}
	
		.elenita_img6 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 50%;
	height: 50%;
	width: 50%;
	}
	
		.elenita_img7 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 150%;
	left: 0%;
	height: 50%;
	width: 50%;
	}
	
		.elenita_img8 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 150%;
	left: 50%;
	height: 50%;
	width: 50%;
	}	
	
		.elenita_img9 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 200%;
	left: 0%;
	height: 50%;
	width: 50%;
	}	
	
		.elenita_img10 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 200%;
	left: 50%;
	height: 50%;
	width: 50%;
	}	
	
			.elenita_img11 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 250%;
	left: 0%;
	height: 50%;
	width: 50%;
	}	
	
			.elenita_img12 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 250%;
	left: 50%;
	height: 50%;
	width: 50%;
	}	
	
		.elenita_img13 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 300%;
	left: 0%;
	height: 50%;
	width: 50%;
	}	
	
		.elenita_img14 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 300%;
	left: 50%;
	height: 50%;
	width: 50%;
	}	
	
		.elenita_img15 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 350%;
	left: 0%;
	height: 50%;
	width: 50%;
	}	
	
		.elenita_img16 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 350%;
	left: 50%;
	height: 50%;
	width: 50%;
	}	
	
			.elenita_img17 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 390%;
	left: 0%;
	height: 60%;
	width: 50%;
	}	
	
		.elenita_img18 {
	display: none;
	position: absolute;
	z-index: 2;
	top: 400%;
	left: 50%;
	height: 50%;
	width: 50%;
	}	
	
	.titulo_zap {
		left: 9.7%;
		width: 90%;
		height: 30%;
		text-align: left;
		position: fixed;
		display: none;
		font-family: "Oswald";
		font-size: 4.6vmax;
		font-weight: 700;
		color: red;
		z-index: 15;
		cursor: default;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
	}
	
	.zap {
	display: none;
	position: absolute;
	z-index: 5;
	top: 18%;
  left: 10%;
  text-align: left;
  height: 80%;
  width: 80%;
  color: black;
	font-family: "Oswald";
	font-size: 1.7vmax;
	}
	
	.zap_button {
		display: none;
		z-index: 10;
		position: absolute;
		top: 75%;
		left: 40%;
		height: 20%;
		width: 10%;
		background-size:cover;
		object-fit: fill;
		background-image: url("https://live.staticflickr.com/65535/50501594206_7ea98b852e_k.jpg");
	}
	
	.grito {
	display: none;
	position: absolute;
	z-index: 6;
	top: 110vmax;
  left: 15%;
  height: 65%;
  width: 65%;
	}
	
	.portas_abertas {
		display: none;
		position: absolute;
		top: 5vmax;
		left: 14vmax;
		height: 35vmax;
		width: 65vmax;
		z-index: 5;
	}
	
	.queda_livre {
	display: none;
	position: absolute;
	z-index: 5;
	top: 60vmax;
  left: 15%;
  height: 65%;
  width: 65%;
	}
	
	.triptico {
	display: none;
	position: absolute;
	z-index: 7;
	top: 8vmax;
  left: 15%;
  height: 65%;
  width: 65%;
	}
	
	.embed-container 	{ 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden;
	max-width: 100%;
  } 

  .embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	}
	
	
	.fumaca_antifascista {
	display: none;  
	top: 50%;
  left: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
	color: white;
	font-size: calc(6vmax);
	font-weight: bold;
	font-family: "Oswald";
	position: absolute;
	cursor: default;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      	
  user-select: none;
	}

	.anaue_badaue {
	display: none;
	z-index: 3;
	position: absolute;
	height: auto;
	width: 55vmax;
	height: auto;
	left: 23vmax;
	top: 5vmax;
	src: "https://live.staticflickr.com/65535/50453279563_1bfd42ebdd_o.jpg";
	}
	
	.audio_anaue_badaue {
	display: none;
	z-index: 3;
	position: absolute;
	left: 40vmax;
	top: 45%;
	src: "https://live.staticflickr.com/65535/50453279563_1bfd42ebdd_o.jpg";
	}
	
	.mar_rio_pedra_rosa_gif {
	display: none;
	top: 2vmax;
	left: 13vmax;
	position: absolute;
	width: 40vmax;
	height: 25vmax;	
	}
	
	.contornos_conscientes {
		display: none;
		top: 2vmax;
		left: 53vmax;
		position: absolute;
		width: 35vmax;
		height: 25vmax;	
	}
	
	.video_marica {
	display: none;
	position: absolute;
	z-index: 1;
	top: 33.5vmax;
	left: 13vmax;
	height: 41vmax;
	width: 75vmax;
	}
	
	.estrela1 {
	display: none;
	position: absolute;
	z-index: 5;
	width: 10vmax;
	height: 10vmax;
	top: 80vmax;
	left: 15%;
	}
	
	.estrela2 {
	display: none;
	position: absolute;
	z-index: 5;
	width: 10vmax;
	height: 10vmax;
	top: 80vmax;
	left: 45%;
	}
	
		.estrela3 {
	display: none;
	position: absolute;
	z-index: 5;
	width: 10vmax;
	height: 10vmax;
	top: 80vmax;
	left: 75%;
	}
	
	.mar_rio_pedra_rosa {
	display: none;
	top: 28vmax;
	left: 73vmax;
	position: absolute;
	width: 15vmax;
	height: 10vmax;
	z-index: 2;
	}
	
		.mar {
	display: none;
	top: 28vmax;
	left: 13vmax;
	position: absolute;
	width: 15vmax;
	height: 10vmax;
	z-index: 2;
	}
	
	
		.rio {
	display: none;
	top: 28vmax;
	left: 28vmax;
	position: absolute;
	width: 15vmax;
	height: 10vmax;
	z-index: 2;
	}
	
		.pedra {
	display: none;
	top: 28vmax;
	left: 43vmax;
	position: absolute;
	width: 15vmax;
	height: 10vmax;
	z-index: 2;
	}
	
	.rosa {
	display: none;
	top: 28vmax;
	left: 58vmax;
	position: absolute;
	width: 15vmax;
	height: 10vmax;
	z-index: 2;
	}
	
	.vida_background {
	display: none;	
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: url("https://lh3.googleusercontent.com/proxy/W5N6YRbiMVPKLM_2FBhXV4vXlyK8p-kiOoePXZP7oHU9gSw20qY8Q4qSHAKooOxYNdAUoef7ZrotSrqqy5KAa7nvyQj8nVoEheCVB99xLYmo240Plalj0denc7Un87c");
	background-color: #a31d1d;
	}
	
	.data_hora {
		font-family: "Big Shoulders Inline Display";
		color: red;
		font-size: 5vmax;
		font-weight: 500;
		display: inline;
	}
	
	.texto_laboratorio {
		left: 25%;
		width: 75%;
		top: 10%;
		height: 3500vh;
		position: absolute;
		display: none;
		background:none transparent;
	  background-color: transparent !important;
	}
	
	.titulo_texto_laboratorio {
		left: 3vmax;
		width: 90%;
		height: 30%;
		position: fixed;
		display: none;
		font-family: "Oswald";
		font-size: 4vmax;
		font-weight: 700;
		color: red;
		z-index: 15;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
	  user-select: none;
	}
	
	.robson {
		position: absolute;
		display: none;
		width: 100%;
		height: auto;
		left: 0%;
	}
	
	.robson_ping_pong {
		display: none;
		position: absolute;
		top: 130vmax;
		left: 0%;
		width: 100%;
		height: auto;
		z-index: 10;
	}
	
	.robson_gif {
		display: none;
		position: absolute;
		top: 205vmax;
		left: 10%;
		width: 80%;
		height: auto;
	}
	
	.robson_seta {
		display: none;
		position: absolute;
		top: 57vmax;
		left: 16vmax;
		width: 30%;
		height: 30%;	
		color: red;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
	  user-select: none;
  	font-family: "Oswald";
		font-size: 5vmax;
		line-height: 0.8;
	  z-index: 22;
	}
	
	.robson_imagem {
		display: none;
		position: absolute;
		top: 49vmax;
		left: 33.7vmax;
		width: 33vmax;
		height: 19vmax;
		background-size:cover;
		object-fit: fill;
		z-index: 20;
	}
	
	.marcelod2 {
		position: relative;
		display: none;
		width: 100%;
		height: 70%;
		top: 260vmax;
		z-index: 10;
	}
	
		.robson_texto  {
		position: absolute;
		display: none;
		font-family: "Oswald";
		font-size: 5vmax;
		color: white;
		background-color: black;
		text-align: left;
		top: 360vmax;
		left: 10vmax;
		height: auto;
	  -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      	
	  user-select: none;
	  z-index: 14;
	}
	
	
